.tooltip-static .tooltip {
    position: relative;
    display: block;
    opacity: 1;
    z-index: 1;
    .tooltip-inner{
        max-width: 100%;
    }
}

.popover-static .popover {
    position: relative;
    display: block;
    margin: 0;
    max-width: 100%;
    z-index: 1;
}